<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="utf-8">
    <title>Hakutulos</title>
    <link rel="stylesheet" href="tyylit.css">
</head>

<body>
    <main>
        <h2>Kissan <%= kissa.numero %> tiedot:</h2>
        <p>Nimi: <%= kissa.nimi %> </p>
        <p>Rotu: <%= kissa.rotu%></p>
        <p>Syntym채vuosi: <%= kissa.syntymavuosi %></p>
        <p>Lukum채채r채: <%= kissa.lukumaara %></p>
    </main>
    <a href="/"><button>Valikko</button></a>
</body>
</html>